.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .search-input {
    padding: 8px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .navbar .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar .nav-links h2 {
    margin: 0;
    cursor: pointer;
  }
  
  .navbar .nav-links h2:hover {
    color: #007bff;
  }

  .logout-button {
    padding: 10px 15px;
    background-color: #000; /* Red button for logout */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #ADD8E6; /* Darker red on hover */
  }
 

  /* Make the navbar responsive */
@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar .search-input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .navbar .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  
    .navbar .nav-links h2 {
      font-size: 18px;
    }
    .logout-button {
      width: 100%;
      font-size: 1.2rem;
    }
  }
  


  

  

  .user-dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none; /* Removes default list bullets */
  }
  
  .user-dropdown li {
    display: block;  /* Ensures each item is block-level (vertical layout) */
    white-space: nowrap;  /* Prevents text from wrapping into multiple lines */
  }
  
  .user-dropdown li:hover {
    background-color: #f0f0f0; /* Optional: Adds hover effect */
  }
  